@import 'tailwindcss';

@theme {
  --color-background: #1b0d1e;
  --color-primary: #421648;
  --color-accent: #e12e45;
  --color-secondary: #ffb22c;

  --color-gradient1: #fd9118;
  --color-gradient2: #f16022;

  --animate-vinyl: vinyl 15s linear infinite;
  @keyframes vinyl {
    100% {
      transform: rotate(360deg);
    }
  }
}
.bg-gradient {
  background-image: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-gradient1),
    var(--color-gradient2),
    var(--color-accent)
  );
}

@utility scrollbar-styled {
  &::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 8px;
  }
}

@utility scrollbar-transparent {
  &::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
  }
}
